<p>Choose from the following questions:</p>

<details class="collapsible">

  <summary class="collapsible-summary"><span class="summary">I want to search for my husband/wife&rsquo;s address on <abbr title="United Kingdom">UK</abbr> government databases (&pound;50)</span></summary>

  <div class="panel panel-border-narrow">
    <p>You can apply for a search of government databases (for example, the electoral role) for your husband/wife&rsquo;s address.</p>
    <p><b>How to apply:</b> Contact the court for the form and pay a fee of &pound;50.</p>
  </div>

</details>

<details class="collapsible">

  <summary class="collapsible-summary"><span class="summary">I need to send the application to an electronic address, for example my husband/wife&rsquo;s email (&pound;50)</span></summary>

  <div class="panel panel-border-narrow">
    <div>
      <p>You can ask for the application to be delivered electronically, for example: Email, Facebook messenger, Whatsapp.</p>
      <p><b>How to apply:</b> Fill in <a href="#" target="_blank">form D11</a> and print it, then send it to the court with a fee of &pound;50.</p>
    </div>
  </div>

</details>

<details class="collapsible">

  <summary class="collapsible-summary"><span class="summary">I need to send the application to my husband/wife&rsquo;s work address (&pound;50)</span></summary>

  <div class="panel panel-border-narrow">
    <div>
      <p>You can ask for the application to be sent to their work address.</p>
      <p><b>How to apply:</b> Fill in <a href="#" target="_blank">form D11</a> and print it, then send it to the court with a fee of &pound;50.</p>
    </div>
  </div>

</details>

<details class="collapsible">

  <summary class="collapsible-summary"><span class="summary">I believe my husband/wife lives at that address, but chose not to respond (&pound;110)</span></summary>

  <div class="panel panel-border-narrow">
    <div>
      <p>If you think that your husband/wife is deliberately not responding to the application you can pay for a court bailiff to deliver it to them.</p>
      <p>If the bailiff succeeds in delivering the application to them, you&rsquo;ll be given an &lsquo;endorsement of service&rsquo;. If they still don&rsquo;t respond 14 days after delivery, you can use the endorsement to continue without your husband/wife&rsquo;s response.</p>
      <p><b>How to apply:</b> Fill in <a href="#" target="_blank">form D89</a> and print it, then send it to the court with a fee of &pound;110 and:</p>
      <ul class="list list-bullet">
        <li>a photo or written description of your husband/wife</li>
        <li>a copy of your divorce application</li>
      </ul>
    </div>
  </div>

</details>
