{% set title = pageTitle %}
{% extends "layout.njk" %}

{% block page_title %}{{pageTitle}} - GOV.UK{% endblock %}

{% block content %}
<main class="pattern-library" id="content" role="main">

  {% include "partials/phase_banner.njk" ignore missing %}

  {% include "partials/breadcrumb.njk" ignore missing %}
  
  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        {{pageTitle}}
        {% include "tags.njk" %}
      </h1>
      
      <p class="lede">{{pageStrapline}}</p>

    </div>

  </div>

  {% markdown %}
    {% include "./README.md" %}
  {% endmarkdown %}

</main>
{% endblock %}
