{% set title = pageTitle %}
{% extends "layout.njk" %}

{% block page_title %}{{pageTitle}} - GOV.UK{% endblock %}

{% block content %}
<main class="pattern-library" id="content" role="main">

  {% include "partials/phase_banner.njk" ignore missing %}

  {% include "partials/breadcrumb.njk" ignore missing %}

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-xlarge">{{pageTitle}}</h1>

      <p class="lede">{{pageStrapline}}</p>

    </div>

  </div>

  <div class="grid-row">

    <div class="column-one-third">
      <h2 class="heading-medium heading-index"><a href="/components/address-lookup">Address lookup</a></h2>
      <p>Allow a user to find their address by entering their postcode.</p>
    </div>

    <div class="column-one-third">
      <h2 class="heading-medium heading-index"><a href="/components/collapsibles">Collapsibles</a></h2>
      <p>Allow users to gradually reveal information.</p>
    </div>

    <div class="column-one-third">
      <h2 class="heading-medium heading-index"><a href="/components/progress-list">Progress list</a></h2>
      <p>Show users which stage of the journey they&rsquo;re at.</p>
    </div>

  </div>

  <div class="grid-row">

    <div class="column-one-third">
      <h2 class="heading-medium heading-index"><a href="/components/tabs">Tabs</a></h2>
      <p>Show users information in adjacent categories.</p>
    </div>

    <div class="column-one-third">
      <h2 class="heading-medium heading-index"><a href="/components/add-form-fields">Add form fields</a></h2>
      <p>Allow users to add extra form fields for more information.</p>
    </div>

  </div>

</main>
{% endblock %}
