{% set title = pageTitle %}
{% extends "layout.njk" %}

{% block page_title %}{{pageTitle}} - GOV.UK{% endblock %}

{% block content %}
<main class="pattern-library" id="content" role="main">

  {% include "partials/phase_banner.njk" ignore missing %}

  {% include "partials/breadcrumb.njk" ignore missing %}

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-xlarge">{{pageTitle}}</h1>

      <p class="lede">{{pageStrapline}}</p>

    </div>

  </div>

  <div class="grid-row">

    <div class="column-one-third">
      <h2 class="heading-medium heading-index"><a href="/components/address-lookup">Address lookup</a></h2>
    </div>

    <div class="column-one-third">
      <h2 class="heading-medium heading-index"><a href="/components/collapsibles">Collapsibles</a></h2>
    </div>

    <div class="column-one-third">
      <h2 class="heading-medium heading-index"><a href="/components/progress-bar">Progress bar</a></h2>
    </div>

  </div>

  <div class="grid-row">

    <div class="column-one-third">
      <h2 class="heading-medium heading-index"><a href="/components/tabs">Tabs</a></h2>
    </div>

    <div class="column-one-third">
      <h2 class="heading-medium heading-index"><a href="/components/add-form-fields">Add another</a></h2>
    </div>

    <div class="column-one-third">
      <h2 class="heading-medium heading-index"><a href="/components/names">Names</a></h2>
    </div>

  </div>
  <div class="grid-row">

    <div class="column-one-third">
      <h2 class="heading-medium heading-index"><a href="/components/dates">Dates</a></h2>
    </div>
  </div>

</main>
{% endblock %}
