<!-- progress bar -->
<div id="progress-bar">

  <h2 class="heading-large">Progress Bar</h2>

  <p>A progress bar to illustrate the user journey in a service flow.</p>

  <div class="example" data-title="Example">

    <div class="progress" aria-label="Appeal process">

      <ol class="progress-list">
        {{ progress_item("Appeal", "Complete") }}
        {{ progress_item("DWP response", "", "Current") }}
        {{ progress_item("Hearing booked") }}
        {{ progress_item("Hearing") }}
      </ol>

    </div>

  </div>

  <div class="example" data-title="Example">

    <div class="progress" aria-label="Appeal process">

      <ol class="progress-list">
        {{ progress_item("Appeal", "Complete") }}
        {{ progress_item("DWP response", "Complete") }}
        {{ progress_item("Hearing booked", "", "Current") }}
        {{ progress_item("Hearing") }}
      </ol>

    </div>

  </div>

  <div class="example" data-title="Example">

    <div class="progress" aria-label="Appeal process">

      <ol class="progress-list">
        {{ progress_item("Appeal", "Complete") }}
        {{ progress_item("DWP response", "Complete") }}
        {{ progress_item("Hearing booked", "Complete") }}
        {{ progress_item("Hearing", "", "Current") }}
      </ol>

    </div>

  </div>

  <div class="example" data-title="Example">

    <div class="progress" aria-label="Appeal process">

      <ol class="progress-list">
        {{ progress_item("Appeal", "Complete") }}
        {{ progress_item("DWP response", "Complete") }}
        {{ progress_item("Hearing booked", "Complete") }}
        {{ progress_item("Hearing", "Complete") }}
      </ol>

    </div>

  </div>

</div>
