{% set title = pageTitle %}
{% extends "layout.njk" %}
{% from "macros/fields.njk" import textbox %}

{% block page_title %}{{pageTitle}} - GOV.UK{% endblock %}

{% block content %}
<main class="pattern-library" id="content" role="main">

  {% include "partials/phase_banner.njk" ignore missing %}

  {% include "partials/breadcrumb.njk" ignore missing %}

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-xlarge">{{pageTitle}}</h1>

      <p class="lede">{{pageStrapline}}</p>

    </div>

  </div>


  <h2 class="heading-medium">Field widths</h2>

  <div class="example" data-title="Examples">

    <div class="form-group">
      {% set field = { id: "form-control-width-1-8", name: "form-control-width-1-8" } %}
      {{ textbox(field, "Input with class form-control-1-8 (12.5% width)", controlwidth="1-8") }}
    </div>

    <div class="form-group">
      {% set field = { id: "form-control-width-1-4", name: "form-control-width-1-4" } %}
      {{ textbox(field, "Input with class form-control-1-4 (25% width)", controlwidth="1-4") }}
    </div>

    <div class="form-group">
      {% set field = { id: "form-control-width-1-3", name: "form-control-width-1-3" } %}
      {{ textbox(field, "Input with class form-control-1-3 (33% width)", controlwidth="1-3") }}
    </div>

    <div class="form-group">
      {% set field = { id: "form-control-width-1-2", name: "form-control-width-1-2" } %}
      {{ textbox(field, "Input with class form-control-1-2 (50% width)", controlwidth="1-2") }}
    </div>

    <div class="form-group">
      {% set field = { id: "form-control-width-2-3", name: "form-control-width-2-3" } %}
      {{ textbox(field, "Input with class form-control-2-3 (66% width)", controlwidth="2-3") }}
    </div>

    {% set field = { id: "form-control-width-3-4", name: "form-control-width-3-4" } %}
    {{ textbox(field, "Input with class form-control-3-4 (75% width)", controlwidth="3-4") }}

  </div>

  <pre class="language-markup" data-title="Nunjucks">
    <code>
      {%- raw %}
      {% set field = { id: "ID", name: "Name" } %}
      {{ textbox(field, "Label", controlwidth="1-2") }}
      {% endraw %}
    </code>
  </pre>

</main>
{% endblock %}
