{#
  TEXTBOX

  field: (required) A field object containing name, id and value
  label: (required) A label to apply to the field
  hint:  (optional) Extra hint text to place under the label

  Renders a simple text input field.
#}

{% macro textbox(field, label, controlwidth=false, hint=false) %}
  <label class="form-label" for="{{field.id}}">{{label}}{%- if hint %}<span class="form-hint">{{hint}}</span>{% endif %}</label>
  <input class="form-control{%- if controlwidth %} form-control-{{controlwidth}}{%- endif %}" id="{{field.id}}" name="{{field.name}}" type="text"{%- if field.value %}value="{{field.value}}"{% endif %}>
{% endmacro %}


{#
  MONEYBOX

  field: (required) A field object containing name, id and value
  label: (required) A label to apply to the field
  currency: (required) Pounds, euros or dollars

  Renders a simple money text input field.
#}

{% macro moneybox(field, label, currency="pounds") %}
  <label class="form-label" for="{{field.id}}">
    {% if (currency == "pounds") %}{{label}} <span class="visually-hidden"> in pounds</span>{% endif %}
    {% if (currency == "euros") %}{{label}} <span class="visually-hidden"> in euros</span>{% endif %}
    {% if (currency == "dollars") %}{{label}} <span class="visually-hidden"> in dollars</span>{% endif %}
  </label>
  <div class="form-money">
    {% if (currency == "pounds") %}<span class="form-currency">&#163;</span>{% endif %}
    {% if (currency == "euros") %}<span class="form-currency">&#8364;</span>{% endif %}
    {% if (currency == "dollars") %}<span class="form-currency">&#36;</span>{% endif %}
    <input class="form-control form-control-1-8" id="{{field.id}}" name="{{field.name}}" type="text"{%- if field.value %}value="{{field.value}}"{% endif %}>
  </div>
{% endmacro %}
