{#
  reformInput
    - id
    - name
    - label
    - hint
    - error
    - type (text, email, tel, password)
    - value
#}

{% macro reformInput(id="", name="", label="", hint="", error="", type="", value="") %}
  <div class="form-group{% if error %} error{% endif %}">
    <label for="{{id}}">
      <span class="form-label-bold">{{label}}</span>
      {% if hint %}<span class="form-hint">{{hint}}</span>{% endif %}
      {% if error %}<span class="error-message">{{error}}</span>{% endif %}
    </label>
    <input class="form-control" id="{{id}}" name="{{name}}" type="{{type}}"{% if value %} value="{{value}}"{% endif %}>
  </div>
{% endmacro %}
