{% set title = pageTitle %}
{% extends "layout.njk" %}
{% from "macros/reform-textarea/macro.njk" import reformTextarea %}
{% from "macros/reform-buttons/macro.njk" import reformButton %}

{% block page_title %}{{pageTitle}} - GOV.UK{% endblock %}

{% block content %}
<main class="pattern-library" id="content" role="main">

  {% include "partials/phase_banner.njk" ignore missing %}

  {% include "partials/breadcrumb.njk" ignore missing %}

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        {{pageTitle}}
        {% include "tags.njk" %}
      </h1>

      <p class="lede">{{pageStrapline}}</p>
      
      <div class="panel panel-border-wide text" role="note">
        <p><b>Work in progress</b> <br> This is not production ready and requires work. It is however suitable for demo purposes and prototyping.</p>
      </div>
      
    </div>

  </div>

  {% markdown %}
    {% include "./README.md" %}
  {% endmarkdown %}

</main>
{% endblock %}