<div class="progress">

  <ol class="progress-list">

    {% for progress, item in items %}
    <li class="progress-item{% if (item.complete == true) %} progress-item-complete{% endif %}{% if (item.current == true) %} progress-item-current{% endif %}">
      <i class="progress-icon">{% if (item.complete == true) %}<span class="visually-hidden">Complete</span>{% endif %}</i>
      <span class="progress-label">{{item.label}}</span>
    </li>
    {% endfor %}

  </ol>

</div>
