{% extends "layout.njk" %}

{% block page_title %}{{pageTitle}} - GOV.UK{% endblock %}

{% block content %}
<main class="pattern-library" id="content" role="main">

  {% include "partials/phase_banner.njk" ignore missing %}

  {% include "partials/breadcrumb.njk" ignore missing %}

  <div class="grid-row">

    <div class="full-width">

      <h1 class="heading-xlarge">{{pageTitle}}</h1>

      <p class="lede">{{pageStrapline}}</p>

    </div>

  </div>

  <div class="grid-row">

    <div class="column-one-third">
      <h2 class="heading-medium heading-index"><a href="/elements/alpha-beta-banners">Alpha and beta banners</a></h2>
      <p>Tell users the development stage your service is in.</p>
    </div>

    <div class="column-one-third">
      <h2 class="heading-medium heading-index"><a href="/elements/buttons">Buttons</a></h2>
      <p>Types of button and when to use them.</p>
    </div>

    <div class="column-one-third">
      <h2 class="heading-medium heading-index"><a href="/elements/form-elements">Form elements</a></h2>
      <p>Using fields for text, phone numbers or other data.</p>
    </div>


  </div>

</main>
{% endblock %}