{% extends "layout.njk" %}

{% block page_title %}{{pageTitle}} - GOV.UK{% endblock %}

{% block content %}
<main class="pattern-library" id="content" role="main">

  {% include "partials/phase_banner.njk" ignore missing %}

  {% include "partials/breadcrumb.njk" ignore missing %}

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-xlarge"><span class="heading-secondary">{{service_title}}</span> {{pageTitle}}</h1>

      <p class="lede">A collection of elements for the Reform Programme.</p>

    </div>

  </div>

  <div class="grid-row">

    <div class="column-one-third">
      <h2 class="heading-medium heading-index"><a href="/elements/alpha-beta-banners">Alpha and beta banners</a></h2>
      <p>Some content...</p>
    </div>

    <div class="column-one-third">
      <h2 class="heading-medium heading-index"><a href="/elements/form-elements">Form elements</a></h2>
      <p>Some content...</p>
    </div>

    <div class="column-one-third">
      <h2 class="heading-medium heading-index"><a href="/elements/buttons">Buttons</a></h2>
      <p>Some content...</p>
    </div>

  </div>

  <div class="grid-row">

    <div class="column-one-third">
      <h2 class="heading-medium heading-index"><a href="/elements/dates">Dates</a></h2>
      <p>Some content...</p>
    </div>

    <div class="column-one-third">
      <h2 class="heading-medium heading-index"><a href="/elements/names">Names</a></h2>
      <p>Some content...</p>
    </div>

  </div>


</main>
{% endblock %}
