{% set title = pageTitle %}
{% extends "layout.njk" %}
{% from "macros/phase.njk" import phase_banner %}
{% from "macros/button.njk" import button %}

{% block page_title %}{{pageTitle}} - GOV.UK{% endblock %}

{% block content %}
<main class="pattern-library" id="content" role="main">

  {% include "partials/phase_banner.njk" ignore missing %}

  {% include "partials/breadcrumb.njk" ignore missing %}

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-xlarge"><span class="heading-secondary">{{service_title}}</span> {{pageTitle}}</h1>

      <h2 class="heading-small">Contents:</h2>

      <ul class="list">
        <li><a href="#alpha-beta-banners">Alpha and beta banners</a></li>
        <li><a href="#buttons">Buttons</a></li>
      </ul>

    </div>

  </div>

  {% include "elements/alpha-beta-banners.njk" ignore missing %}

  {% include "elements/buttons.njk" ignore missing %}

</main>
{% endblock %}
