{% set title = pageTitle %}
{% extends "layout.njk" %}
{% from "macros/buttons/macro.njk" import reformButton %}

{% block page_title %}{{pageTitle}} - GOV.UK{% endblock %}

{% block content %}
<main class="pattern-library" id="content" role="main">

  {% include "partials/phase_banner.njk" ignore missing %}

  {% include "partials/breadcrumb.njk" ignore missing %}

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-xlarge">{{pageTitle}}</h1>

      <p class="lede">For documentation, please go to <a href="https://govuk-elements.herokuapp.com/buttons" target="_blank">GOV Elements<span class="visually-hidden"> (opens in a new window)</span></a>.</p>

    </div>

  </div>

  {% markdown %}
    {% include "./docs.md" %}
  {% endmarkdown %}

</main>
{% endblock %}
