{% set title = pageTitle %}
{% extends "layout.njk" %}
{% from "macros/button.njk" import button %}

{% block page_title %}{{pageTitle}} - GOV.UK{% endblock %}

{% block content %}
<main class="pattern-library" id="content" role="main">

  {% include "partials/phase_banner.njk" ignore missing %}

  {% include "partials/breadcrumb.njk" ignore missing %}

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-xlarge"><span class="heading-secondary">{{service_title}}</span> {{pageTitle}}</h1>

      <p class="lede">For documentation, please go to <a href="https://govuk-elements.herokuapp.com/buttons" target="_blank">GOV Elements<span class="visually-hidden"> (opens in a new window)</span></a>.</p>

    </div>

  </div>


  <!-- button primary -->
  <h2 class="heading-medium">Primary button</h2>
  <div class="example" data-title="Example">{{ button("Primary button", type="submit") }}</div>

  <h3 class="heading-small">Nunjucks macro</h3>
  <pre><code class="prettyprint">{%- raw %}{{ button("Primary button", type="submit") }}{% endraw %}</code></pre>

  <h3 class="heading-small">Generated HTML</h3>
  <pre><code class="prettyprint">&#x3C;button class=&#x22;button&#x22; type=&#x22;submit&#x22;&#x3E;Primary button&#x3C;/button&#x3E;</code></pre>


  <!-- button secondary -->
  <h2 class="heading-medium">Secondary button</h2>
  <div class="example" data-title="Example">{{ button("Secondary button", style="secondary") }}</div>


  <h3 class="heading-small">Nunjucks macro</h3>
  <pre><code class="prettyprint">{%- raw %}{{ button("Secondary button", style="secondary") }}{% endraw %}</code></pre>

  <h3 class="heading-small">Generated HTML</h3>
  <pre><code class="prettyprint">&#x3C;button class=&#x22;button button-secondary&#x22; type=&#x22;button&#x22;&#x3E;Secondary button&#x3C;/button&#x3E;</code></pre>


  <!-- button tertiary -->
  <h2 class="heading-medium">Tertiary button</h2>
  <div class="example" data-title="Example">{{ button("Tertiary button", style="tertiary") }}</div>

  <h3 class="heading-small">Nunjucks macro</h3>
  <pre><code class="prettyprint">{%- raw %}{{ button("Tertiary button", style="tertiary") }}{% endraw %}</code></pre>

  <h3 class="heading-small">Generated HTML</h3>
  <pre><code class="prettyprint">&#x3C;button class=&#x22;button button-tertiary&#x22; type=&#x22;button&#x22;&#x3E;Tertiary button&#x3C;/button&#x3E;</code></pre>


</main>
{% endblock %}
