/*
Collapsible
*/

$module: "collapsible";

.#{$module} {
  border-bottom: 1px solid $border-colour;

  &-summary {
    display: block;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding-top: em(15);
    padding-bottom: em(15);
    padding-left: em(20);
    user-select: none;
    text-indent: - em(20);
  }

}
