/*
Progress
*/

$module: "progress";

.#{$module} {
  overflow: hidden;
  position: relative;

  &:before {
    background-color: $green;
    content: "";
    height: 6px;
    position: absolute;
    top: 13px; left: 0;
    width: 100%;
  }

  &-list {
    font-size: 0.1px; // hide whitespace between elements
    position: relative;
    text-align: justify;
    vertical-align: top;

    &::after {
      content: '';
      display: inline-block;
      width: 100%;
    }

  }

  &-icon {
    display: block;
    height: 32px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 32px;

    &::before {
      background-color: $white;
      border-radius: 50%;
      box-shadow: inset 0 0 0 em(6, 16) $green;
      content: "";
      display: block;
      height: 32px;
      position: absolute;
      width: 32px;
      z-index: 2;
    }

  }

  &-label {
    @include core-16;
    display: block;
    margin-top: 10px;
    position: relative;
    z-index: 2;
  }

  &-item {
    @include core-19;
    display: inline-block;
    max-width: 20%;
    position: relative;
    text-align: center;
    vertical-align: top;

    &-complete {

      .#{$module}-icon {

        &::before {
          background-image: file-url("icons/icon-progress-tick.svg"); // if less than ie9 provide png fallback (TODO)
          background-color: $green;
          background-position: 50% 50%;
          background-repeat: no-repeat;
        }

      }

    }

    &-current {

      .#{$module}-label {
        font-weight: bold;
      }

    }

    &:first-child,
    &:last-child {
      position: relative;

      .#{$module}-icon {
        position: relative;

        &::after {
          background-color: $white;
          content: "";
          height: 32px;
          position: absolute;
          right: 16px; top: 0;
          width: 495px;
          z-index: 0;
        }

      }

    }

    &:last-child {

      .#{$module}-icon::after {
        right: auto;
        left: 16px;
      }

    }

  }

}
