/*
Forms
*/

$module: "form";

.#{$module} {

  &-postcode {

    .#{$module}-control {
      margin-bottom: em(10);
      padding-bottom: em(5);

      @include media(tablet) {
        margin-right: em(10);
        margin-bottom: 0;
      }

    }

  }

  &-money {

    .#{$module}-currency {
      font-weight: 600;
      margin-right: em(10);
    }

  }

}
