{% if section or pageTitle %}
<div class="breadcrumbs">

  <ol>

    <li><a href="/">{{service_title}}</a></li>

    {% if section %}
    <li><a href="/{{ section }}/">{% if sectionName %} {{ sectionName }} {% endif %}</a></li>
    {% endif %}

    {% if pageTitle %}
    <li aria-current="page">{{ pageTitle }}</li>
    {% endif %}

  </ol>

</div>
{% endif %}