<div class="header-proposition">
  <div class="content">
    <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
    <div id="proposition-menu">
      <a href="/" id="proposition-name">{{service_title}}</a>
      <ul id="proposition-links">
        <li><a href="/elements">Elements</a></li>
        <li><a href="/components">Components</a></li>
        <li><a href="/pages">Pages</a></li>
      </ul>
    </div>
  </div>
</div>
