<script src="/public/javascripts/vendor/jquery-1.11.0.min.js"></script>
<script src="/public/javascripts/vendor/prism.js"></script>

<!-- govuk_frontend_toolkit js -->
<script src="/public/javascripts/vendor/polyfills/bind.js"></script>
<script src="/public/javascripts/govuk/shim-links-with-button-role.js"></script>
<script src="/public/javascripts/govuk/show-hide-content.js"></script>

<!-- govuk_elements js -->
<script src="/public/javascripts/govuk/details.polyfill.js"></script>
<script src="/public/javascripts/application.js"></script>

<!-- reform js -->
<script src="/public/javascripts/reform/address-lookup.js"></script>
<script src="/public/javascripts/reform/accessible-tabs.js"></script>
<script src="/public/javascripts/reform/add-form-items.js"></script>
<script src="/public/javascripts/reform/task-list.js"></script>