{% extends "documentation.njk" %}
{% from "macros/progress.njk" import progress_item %}
{% from "macros/progress_list.njk" import progress_list %}
{% block pattern_description %}Show users which stage of the journey they&rsquo;re at.{% endblock %}
{% block documentation %}

<h2 class="heading-medium">Examples</h2>

<!-- example -->
<div class="example" data-title="Example">

{% call progress_list() %}
    {{ progress_item("Appeal", "Complete") }}
    {{ progress_item("DWP response", "", "Current") }}
    {{ progress_item("Hearing booked") }}
    {{ progress_item("Hearing") }}
{% endcall %}

</div>

</div>

<pre class="language-markup" data-title="Nunjucks">
<code>
{%- raw %}
{{ progress_item("Appeal", "Complete") }}
{{ progress_item("DWP response", "", "Current") }}
{{ progress_item("Hearing booked") }}
{{ progress_item("Hearing") }}
{% endraw %}
</code>
</pre>


<!-- example -->
<div class="example" data-title="Example">

<div class="progress" aria-label="Appeal process">

  <ol class="progress-list">
    {{ progress_item("Appeal", "Complete") }}
    {{ progress_item("DWP response", "Complete") }}
    {{ progress_item("Hearing booked", "", "Current") }}
    {{ progress_item("Hearing") }}
  </ol>

</div>

</div>

<pre class="language-markup" data-title="Nunjucks">
<code>
{%- raw %}
{{ progress_item("Appeal", "Complete") }}
{{ progress_item("DWP response", "Complete") }}
{{ progress_item("Hearing booked", "", "Current") }}
{{ progress_item("Hearing") }}
{% endraw %}
</code>
</pre>


<!-- example -->
<div class="example" data-title="Example">

<div class="progress" aria-label="Appeal process">

  <ol class="progress-list">
    {{ progress_item("Appeal", "Complete") }}
    {{ progress_item("DWP response", "Complete") }}
    {{ progress_item("Hearing booked", "Complete") }}
    {{ progress_item("Hearing", "", "Current") }}
  </ol>

</div>

</div>

<pre class="language-markup" data-title="Nunjucks">
<code>
{%- raw %}
{{ progress_item("Appeal", "Complete") }}
{{ progress_item("DWP response", "Complete") }}
{{ progress_item("Hearing booked", "Complete") }}
{{ progress_item("Hearing", "", "Current") }}
{% endraw %}
</code>
</pre>


<!-- example -->
<div class="example" data-title="Example">

<div class="progress" aria-label="Appeal process">

  <ol class="progress-list">
    {{ progress_item("Appeal", "Complete") }}
    {{ progress_item("DWP response", "Complete") }}
    {{ progress_item("Hearing booked", "Complete") }}
    {{ progress_item("Hearing", "Complete") }}
  </ol>

</div>

</div>

<pre class="language-markup" data-title="Nunjucks">
<code>
{%- raw %}
{{ progress_item("Appeal", "Complete") }}
{{ progress_item("DWP response", "Complete") }}
{{ progress_item("Hearing booked", "Complete") }}
{{ progress_item("Hearing", "Complete") }}
{% endraw %}
</code>
</pre>


{% markdown %}

## When to use this pattern

Use this pattern for all XYZ.

## Research for this pattern

Maybe a link to some research here with a brief explanation of why we&rsquo;re making this a pattern.

## Related patterns

You may also want to use these:

* [Related link](#)
* [Another related link](#)
* [Add another link](#)

{% endmarkdown %}
{% endblock %}
