{% set title = pageTitle %}
{% extends "layout.njk" %}
{% from "macros/progress.njk" import progress_item %}

{% block page_title %}{{pageTitle}} - GOV.UK{% endblock %}

{% block content %}
<main class="pattern-library" id="content" role="main">

  {% include "partials/phase_banner.njk" ignore missing %}

  {% include "partials/breadcrumb.njk" ignore missing %}

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-xlarge"><span class="heading-secondary">{{service_title}}</span> {{pageTitle}}</h1>

      <p class="lede">Show users which stage of the journey they&rsquo;re at.</p>

    </div>

  </div>


  <h2 class="heading-medium">Examples</h2>


  <!-- example -->
  <div class="example" data-title="Example">

    <div class="progress" aria-label="Appeal process">

      <ol class="progress-list">
        {{ progress_item("Appeal", "Complete") }}
        {{ progress_item("DWP response", "", "Current") }}
        {{ progress_item("Hearing booked") }}
        {{ progress_item("Hearing") }}
      </ol>

    </div>

  </div>

  <pre class="language-markup" data-title="Nunjucks">
    <code>
    {%- raw %}
    {{ progress_item("Appeal", "Complete") }}
    {{ progress_item("DWP response", "", "Current") }}
    {{ progress_item("Hearing booked") }}
    {{ progress_item("Hearing") }}
    {% endraw %}
    </code>
  </pre>


  <!-- example -->
  <div class="example" data-title="Example">

    <div class="progress" aria-label="Appeal process">

      <ol class="progress-list">
        {{ progress_item("Appeal", "Complete") }}
        {{ progress_item("DWP response", "Complete") }}
        {{ progress_item("Hearing booked", "", "Current") }}
        {{ progress_item("Hearing") }}
      </ol>

    </div>

  </div>

  <pre class="language-markup" data-title="Nunjucks">
    <code>
    {%- raw %}
    {{ progress_item("Appeal", "Complete") }}
    {{ progress_item("DWP response", "Complete") }}
    {{ progress_item("Hearing booked", "", "Current") }}
    {{ progress_item("Hearing") }}
    {% endraw %}
    </code>
  </pre>


  <!-- example -->
  <div class="example" data-title="Example">

    <div class="progress" aria-label="Appeal process">

      <ol class="progress-list">
        {{ progress_item("Appeal", "Complete") }}
        {{ progress_item("DWP response", "Complete") }}
        {{ progress_item("Hearing booked", "Complete") }}
        {{ progress_item("Hearing", "", "Current") }}
      </ol>

    </div>

  </div>

  <pre class="language-markup" data-title="Nunjucks">
    <code>
    {%- raw %}
    {{ progress_item("Appeal", "Complete") }}
    {{ progress_item("DWP response", "Complete") }}
    {{ progress_item("Hearing booked", "Complete") }}
    {{ progress_item("Hearing", "", "Current") }}
    {% endraw %}
    </code>
  </pre>


  <!-- example -->
  <div class="example" data-title="Example">

    <div class="progress" aria-label="Appeal process">

      <ol class="progress-list">
        {{ progress_item("Appeal", "Complete") }}
        {{ progress_item("DWP response", "Complete") }}
        {{ progress_item("Hearing booked", "Complete") }}
        {{ progress_item("Hearing", "Complete") }}
      </ol>

    </div>

  </div>

  <pre class="language-markup" data-title="Nunjucks">
    <code>
    {%- raw %}
    {{ progress_item("Appeal", "Complete") }}
    {{ progress_item("DWP response", "Complete") }}
    {{ progress_item("Hearing booked", "Complete") }}
    {{ progress_item("Hearing", "Complete") }}
    {% endraw %}
    </code>
  </pre>


  <h3 class="heading-medium">When to use this pattern</h3>

  <p>Use this pattern for all XYZ.</p>

  <h3 class="heading-medium">Research for this pattern</h3>

  <p>Maybe a link to some research here with a brief explanation of why we&rsquo;re making this a pattern.</p>

  <h3 class="heading-medium">Related patterns</h3>

  <p>You may also want to use these:</p>

  <ul class="list list-bullet">
    <li><a href="#">Related link</a></li>
    <li><a href="#">Another related link</a></li>
    <li><a href="#">Add another link</a></li>
  </ul>


</main>
{% endblock %}
