{% set title = pageTitle %}
{% extends "layout.njk" %}
{% from "macros/progress.njk" import progress_item %}

{% block page_title %}{{pageTitle}} - GOV.UK{% endblock %}

{% block content %}
<main class="pattern-library" id="content" role="main">

  {% include "partials/phase_banner.njk" ignore missing %}

  {% include "partials/breadcrumb.njk" ignore missing %}

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-xlarge"><span class="heading-secondary">{{service_title}}</span> {{pageTitle}}</h1>

      <p class="lede">A progress bar to illustrate the user journey in a service flow.</p>

    </div>

  </div>

  <div class="example" data-title="Example">

    <div class="progress" aria-label="Appeal process">

      <ol class="progress-list">
        {{ progress_item("Appeal", "Complete") }}
        {{ progress_item("DWP response", "", "Current") }}
        {{ progress_item("Hearing booked") }}
        {{ progress_item("Hearing") }}
      </ol>

    </div>

  </div>

<pre><code class="prettyprint">
{%- raw %}
  {{ progress_item("Appeal", "Complete") }}
  {{ progress_item("DWP response", "", "Current") }}
  {{ progress_item("Hearing booked") }}
  {{ progress_item("Hearing") }}
{% endraw %}
</code></pre>

  <div class="example" data-title="Example">

    <div class="progress" aria-label="Appeal process">

      <ol class="progress-list">
        {{ progress_item("Appeal", "Complete") }}
        {{ progress_item("DWP response", "Complete") }}
        {{ progress_item("Hearing booked", "", "Current") }}
        {{ progress_item("Hearing") }}
      </ol>

    </div>

  </div>

<pre><code class="prettyprint">
{%- raw %}
  {{ progress_item("Appeal", "Complete") }}
  {{ progress_item("DWP response", "Complete") }}
  {{ progress_item("Hearing booked", "", "Current") }}
  {{ progress_item("Hearing") }}
{% endraw %}
</code></pre>

  <div class="example" data-title="Example">

    <div class="progress" aria-label="Appeal process">

      <ol class="progress-list">
        {{ progress_item("Appeal", "Complete") }}
        {{ progress_item("DWP response", "Complete") }}
        {{ progress_item("Hearing booked", "Complete") }}
        {{ progress_item("Hearing", "", "Current") }}
      </ol>

    </div>

  </div>

<pre><code class="prettyprint">
{%- raw %}
  {{ progress_item("Appeal", "Complete") }}
  {{ progress_item("DWP response", "Complete") }}
  {{ progress_item("Hearing booked", "Complete") }}
  {{ progress_item("Hearing", "", "Current") }}
{% endraw %}
</code></pre>

  <div class="example" data-title="Example">

    <div class="progress" aria-label="Appeal process">

      <ol class="progress-list">
        {{ progress_item("Appeal", "Complete") }}
        {{ progress_item("DWP response", "Complete") }}
        {{ progress_item("Hearing booked", "Complete") }}
        {{ progress_item("Hearing", "Complete") }}
      </ol>

    </div>

  </div>

<pre><code class="prettyprint">
{%- raw %}
  {{ progress_item("Appeal", "Complete") }}
  {{ progress_item("DWP response", "Complete") }}
  {{ progress_item("Hearing booked", "Complete") }}
  {{ progress_item("Hearing", "Complete") }}
{% endraw %}
</code></pre>

</main>
{% endblock %}
