{% extends "layout.njk" %}

{% block page_title %}{{pageTitle}} - GOV.UK{% endblock %}

{% block content %}
<main class="pattern-library" id="content" role="main">

  {% include "partials/phase_banner.njk" ignore missing %}

  {% include "partials/breadcrumb.njk" ignore missing %}

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-xlarge">{{pageTitle}}</h1>

      <p class="lede">{{pageStrapline}}</p>

    </div>

  </div>

  <div class="grid-row">

    <div class="column-one-third">
      <h2 class="heading-medium heading-index"><a href="/pages/check-your-answers">Check your answers</a></h2>
      <p>Ability to check answers before submitting to a service.</p>
    </div>

  </div>
  
  <div class="grid-row">

    <div class="column-one-third">
      <h2 class="heading-medium heading-index"><a href="/pages/404">404 page not found</a></h2>
      <p>Content for a 404 page.</p>
    </div>

  </div>
  
  
  <div class="grid-row">

    <div class="column-one-third">
      <h2 class="heading-medium heading-index"><a href="/pages/start-page">Start page</a></h2>
      <p>Layout and style for service start page.</p>
    </div>

  </div>
  
  <div class="grid-row">

    <div class="column-one-third">
      <h2 class="heading-medium heading-index"><a href="/pages/shutter-planned">Shutter page - planned outage</a></h2>
      <p>layout and style for a shutter page, shown when the service is stopped for routine maintenance.</p>
    </div>

  </div>
  
  <div class="grid-row">

    <div class="column-one-third">
      <h2 class="heading-medium heading-index"><a href="/pages/shutter-unplanned">Shutter page - unplanned outage</a></h2>
      <p>layout and style for a shutter page, shown when the service is unavailable because of a fault.</p>
    </div>

  </div>
  
  <div class="grid-row">

    <div class="column-one-third">
      <h2 class="heading-medium heading-index">Statement of truth</h2>
      <p>Some content...</p>
    </div>

  </div>


</main>
{% endblock %}
