  <div class="phase-banner">
    <p>
      <strong class="phase-tag">{{phase}}</strong>
      <span>This is a new service &ndash; your <a href="{{url}}">feedback</a> will help us to improve it.</span>
    </p>
  </div>
