{% extends "govuk_template.html" %}

{% block head %}
  {% include "stylesheets.njk" %}
  <meta name="csrf-token" content="XYZ123">
{% endblock %}

{% block cookie_message %}
  <p>GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a></p>
{% endblock %}

{% block proposition_header %}
  {% include "proposition.njk" %}
{% endblock %}

{% block header_class %}
  with-proposition
{% endblock %}

{% block footer_support_links %}
  {% include "support_links.njk" %}
{% endblock %}

{% block body_end %}
  {% include "scripts.njk" %}
{% endblock %}