{% set title = pageTitle %}
{% extends "layout.njk" %}

{% block page_title %}{{pageTitle}} - GOV.UK{% endblock %}

{% block content %}
<main class="pattern-library" id="content" role="main">

  {% include "partials/phase_banner.njk" ignore missing %}

  {% include "partials/breadcrumb.njk" ignore missing %}

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-large">
        {{pageTitle}}
        {% include "tags.njk" %}
      </h1>
      <form method="get" name="create_password" action="account-created" id="create_password">
        <div class="form-group ">
          <p>It needs to include at least:</p>
          <ul class="list list-bullet">
            <li>8 characters</li>
            <li>a capital letter</li>
            <li>a number</li>
          </ul>
          <label class="form-label" for="enter_password">
            Password

          </label>

          <input name="enter_password" id="enter_password" class="form-control" type="password" >
        </div>

        <div class="form-group ">
          <label class="form-label" for="confirm_password">
            Confirm password

          </label>
          <input name="confirm_password" id="confirm_password" class="form-control" type="password" >
        </div>
 
         <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

    </form>


  </div>
</div>

</div>

</main>
{% endblock %}
