{% set title = pageTitle %}
{% extends "layout.njk" %}
{% from "macros/reform-inputs/macro.njk" import reformInput %}
{% from "macros/reform-buttons/macro.njk" import reformButton %}

{% block page_title %}{{pageTitle}} - GOV.UK{% endblock %}

{% block content %}
<main class="pattern-library" id="content" role="main">

  {% include "partials/phase_banner.njk" ignore missing %}

  {% include "partials/breadcrumb.njk" ignore missing %}

  <div class="grid-row">

    <!-- create a password -->
    <div class="column-one-half">

      <h1 class="heading-large">Create a password</h1>
      
      <p>It needs to include at least:</p>
      
      <ul class="list list-bullet">
        <li>8 characters</li>
        <li>a capital letter</li>
        <li>a number</li>
      </ul>
      
      <form class="form" method="get" action="account-created" novalidate>
        
        <div class="form-group">
          {{reformInput(
            label="Password",
            id="password",
            name="password",
            type="password",
            classes={
              label: "form-label",
              input: "form-control-3-4"
            }
          )}}
        </div>
        
        <div class="form-group">
          {{reformInput(
            label="Confirm password",
            id="confirm-password",
            name="confirm-password",
            type="password",
            classes={
              label: "form-label",
              input: "form-control-3-4"
            }
          )}}
        </div>
        
        {{reformButton("Continue")}}
        
      </form>
    
    </div>

  </div>

</main>
{% endblock %}
