{% set title = pageTitle %}
{% extends "layout.njk" %}

{% block page_title %}{{pageTitle}} - GOV.UK{% endblock %}

{% block content %}
<main class="pattern-library" id="content" role="main">

  {% include "partials/phase_banner.njk" ignore missing %}

  {% include "partials/breadcrumb.njk" ignore missing %}

  <div class="grid-row">


    <h1 class="heading-large">
      {{pageTitle}}
      {% include "tags.njk" %}
    </h1>

    <div class="column-half col1">
      <h2 class="heading-medium">
       Create an account
     </h2>

     <form method="get" name="create_account" action="verify-email" id="create_account">
      <div class="form-group">
        <label class="form-label" for="first_name">
          First name
        </label>
        <input name="first_name" id="first_name" class="form-control form-control-3-4">
      </div>
      <div class="form-group ">
        <label class="form-label" for="last_name">
          Last name
        </label>
        <input name="last_name" id="last_name" class="form-control form-control-3-4">
      </div>
      <div class="form-group ">
        <label class="form-label" for="email_address">
          Email address
        </label>
        <input name="email_address" id="email_address" class="form-control form-control-3-4">
      </div>
      <p>Read our <a href="#"">privacy policy</a> and <a href="#">terms and conditions</a>.</p>
      <fieldset>
       <div class="form-group">
        <input type="submit" class="button" value="Continue">
      </div>
    </fieldset>
  </form>
</div>
<div class="column-half col2">
  <h2 class="heading-medium">
    Sign in
  </h2>
  <p><a href="sign-in" role="button">Sign in to your account.</a></p>
  <p></p>
</div>

</div>

</div>

</main>
{% endblock %}
