{% set title = pageTitle %}
{% extends "layout.njk" %}
{% from "macros/reform-inputs/macro.njk" import reformInput %}
{% from "macros/reform-buttons/macro.njk" import reformButton %}

{% block page_title %}{{pageTitle}} - GOV.UK{% endblock %}

{% block content %}
<main class="pattern-library" id="content" role="main">

  {% include "partials/phase_banner.njk" ignore missing %}

  {% include "partials/breadcrumb.njk" ignore missing %}

  <div class="grid-row">

    <!-- create an account -->
    <div class="column-one-half  u-border--right">

      <h1 class="heading-large">Create an account</h1>
      
      <form class="form" method="get" action="verify-email" novalidate>
        
        <div class="form-group">
          {{reformInput(
            label="First name",
            id="first-name",
            name="firstName",
            classes={
              label: "form-label",
              input: "form-control-3-4"
            }
          )}}
        </div>
        
        <div class="form-group">
          {{reformInput(
            label="Last name",
            id="last-name",
            name="lastName",
            classes={
              label: "form-label",
              input: "form-control-3-4"
            }
          )}}
        </div>
        
        <div class="form-group">
          {{reformInput(
            label="Email address",
            id="email-address",
            name="emailAddress",
            type="email",
            classes={
              label: "form-label",
              input: "form-control-3-4"
            }
          )}}
        </div>
        
        <p>Read our <a href="/content/privacy-policy">privacy policy</a> and <a href="/content/terms-and-conditions">terms and conditions</a>.</p>
        
        {{reformButton("Continue")}}
        
      </form>
    
    </div>    
    
    <!-- sign in -->
    <div class="column-one-half">
      
      <h2 class="heading-large">Sign in</h2>
      
      <p><a href="/journeys/self-registration/sign-in">Sign in to your account</a></p>
      
    </div>

  </div>

</main>
{% endblock %}
