{% set title = pageTitle %}
{% extends "layout.njk" %}
{% from "macros/reform-inputs/macro.njk" import reformInput %}
{% from "macros/reform-buttons/macro.njk" import reformButton %}

{% block page_title %}{{pageTitle}} - GOV.UK{% endblock %}

{% block content %}
<main class="pattern-library" id="content" role="main">

  {% include "partials/phase_banner.njk" ignore missing %}

  {% include "partials/breadcrumb.njk" ignore missing %}

  <div class="grid-row">

    <!-- sign in -->
    <div class="column-one-half  u-border--right">

      <h1 class="heading-large">Sign in</h1>
      
      <form class="form" action="post" novalidate>
        
        <div class="form-group">
          {{reformInput(
            label="Email address",
            id="email-address",
            name="emailAddress",
            type="email",
            classes={
              label: "form-label",
              input: "form-control-3-4"
            }
          )}}
        </div>
        
        <div class="form-group">
          {{reformInput(
            label="Password",
            id="password",
            name="password",
            type="password",
            classes={
              label: "form-label",
              input: "form-control-3-4"
            }
          )}}
        </div>
        
        <div class="form-group form-group-related">
          {{reformButton("Sign in")}}
        </div>
        
        <p><a href="#">Forgotten your password?</a></p>
        
      </form>
    
    </div>    
    
    <!-- create an account -->
    <div class="column-one-half">
      
      <h2 class="heading-large">Create an account</h2>
      
      <p>You need to <a href="/journeys/self-registration/create-account">create an account</a> to use this service.</p>
      
    </div>

  </div>

</main>
{% endblock %}
