{#

  REFORM SELECTS

  label       - sets the text label
  id          - sets the base id for each label
  name        - sets the name of the select
  hint        - sets hint text within the label
  error       - sets the error message within the label
  placeholder - sets the first option to this text
  options     - object of values to generate options in the select
  value       - sets the select to selected when matched
  classes     - 

  HOW TO USE

  {{ reformSelect(
    label="Select an address",
    id="select-address",
    name="select-address",
    placeholder="-- Please select an option --",
    options=[
      {
        value: "1",
        display: "Aquarius House 57a, LONDON, NW1 5DA"
      },
      {
        value: "2",
        display: "49 Lisson Street, LONDON, NW1 5DA"
      },
      {
        value: "3",
        display: "57 Lisson Street, LONDON, NW1 5DA"
      }
    ]
  )}}

#}

{% macro reformSelect(label="", id="", name="", hint="", error="", placeholder="", options="", value="", classes="") %}
  {% include "./template.njk" %}
{% endmacro %}
