<div class="form-group{% if error %} error{% endif %}">

  <label for="{{id}}">
    <span class="{% if classes.label %}{{ classes.label }}{% else %}form-label-bold{% endif %}">{{label}}</span>
    {% if hint %}<span class="form-hint">{{hint}}</span>{% endif %}
    {% if error %}<span class="error-message">{{error}}</span> {% endif %}
  </label>

  <select class="form-control{% if classes.select %} {{ classes.select }}{% endif %}" id="{{id}}" name="{{name}}">
    {% if placeholder %}<option>{{placeholder}}</option>{% endif %}
    {% for option in options %}
      <option value="{{ option.value }}"
      {% if value == option.value %} selected{% endif %}>{{option.display}}</option>
    {% endfor %}
  </select>

</div>
