{% set title = pageTitle %}
{% extends "layout.njk" %}

{% block page_title %}{{pageTitle}} - GOV.UK{% endblock %}

{% block content %}
<main class="pattern-library" id="content" role="main">

  {% include "partials/phase_banner.njk" ignore missing %}

  {% include "partials/breadcrumb.njk" ignore missing %}


  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-xlarge"><span class="heading-secondary">{{service_title}}</span> {{pageTitle}}</h1>

      <p class="lede">A collection of date patterns.</p>

      <div class="panel panel-border-wide text">
        <p>Note: The <code class="code">pattern</code> attribute is not valid HTML for inputs where the <code class="code">type</code> attribute is <code class="code">number</code>. It is added deliberately to <a href="http://bradfrost.com/blog/mobile/better-numerical-inputs-for-mobile-forms" target="_blank">force numeric keypads on iOS devices<span class="visually-hidden"> (opens in a new window)</span></a>.</p>
      </div>

    </div>

  </div>


  <!-- divorce example (needs macro) -->
  <h2 class="heading-medium">Divorce example</h2>

  <div class="example" data-title="Example">

    <form class="form" method="POST">

      <div class="form-group">

        <fieldset>

          <legend>
            <h1 class="heading-large">When did you get married?</h1>
          </legend>

          <p class="text">Use the date on your marriage certificate.</p>

          <span class="form-hint">For example, 31 3 2012</span>

          <div class="form-date">

            <div class="form-group form-group-day">
              <label class="form-label" for="marriage-day">Day</label>
              <input class="form-control" id="marriage-day" name="marriageDay" type="number" pattern="[0-9]*" min="0" max="31">
            </div>

            <div class="form-group form-group-month">
              <label class="form-label" for="marriage-month">Month</label>
              <input class="form-control" id="marriage-month" name="marriageMonth" type="number" pattern="[0-9]*" min="0" max="12">
            </div>

            <div class="form-group form-group-year">
              <label class="form-label" for="marriage-year">Year</label>
              <input class="form-control" id="marriage-year" name="marriageYear" type="number" pattern="[0-9]*" min="0" max="2016">
            </div>

          </div>

        </fieldset>

      </div>

      <button class="button" type="submit">Continue</button>

    </form>

  </div>


  <!-- probate example (needs macro) -->
  <h2 class="heading-medium">Probate example</h2>

  <div class="example" data-title="Example">

    <form class="form" method="POST">

      <div class="form-group">

        <fieldset class="inline">

          <legend>
            <h1 class="heading-large">Is there a date on the will?</h1>
          </legend>

          <div class="multiple-choice" data-target="date-on-will">
            <input id="date-on-will-yes" type="radio" name="dateOnWill" value="Yes">
            <label for="date-on-will-yes">Yes</label>
          </div>

          <div class="multiple-choice">
            <input id="date-on-will-no" type="radio" name="dateOnWill" value="No">
            <label for="date-on-will-no">No</label>
          </div>

          <div class="panel panel-border-narrow js-hidden" id="date-on-will">

            <div class="form-group">

              <fieldset>

                <legend>
                  <h2 class="heading-medium">What date was the original will signed and witnessed?</h2>
                </legend>

                <p class="text">If there is more than one original will, you need to give the date of the most recent one.</p>

                <span class="form-hint">For example, 30 6 2016</span>

                <div class="form-date">

                  <div class="form-group form-group-day">
                    <label class="form-label" for="will-signed-day">Day</label>
                    <input class="form-control" id="will-signed-day" name="willSignedDay" type="number" pattern="[0-9]*" min="0" max="31">
                  </div>

                  <div class="form-group form-group-month">
                    <label class="form-label" for="will-signed-month">Month</label>
                    <input class="form-control" id="will-signed-month" name="willSignedMonth" type="number" pattern="[0-9]*" min="0" max="12">
                  </div>

                  <div class="form-group form-group-year">
                    <label class="form-label" for="will-signed-year">Year</label>
                    <input class="form-control" id="will-signed-year" name="willSignedYear" type="number" pattern="[0-9]*" min="0" max="2016">
                  </div>

                </div>

              </fieldset>

            </div>

          </div>

        </fieldset>

      </div>

      <button class="button" type="submit">Continue</button>

    </form>

  </div>


  <!-- cmc 1 example (needs macro) -->
  <h2 class="heading-medium">CMC 1 example</h2>

  <div class="example" data-title="Example">

    <h1 class="heading-large">Your date of birth</h1>

    <p class="text">We use this to make sure legal proceedings are issued against the right person. For example, if there are 2 people at the same address with the same name.</p>

    <form class="form" method="POST">

      <div class="form-group">

        <fieldset>

          <legend class="visually-hidden">Date of birth</legend>

          <span class="form-hint">For example, 31 3 1980</span>

          <div class="form-date">

            <div class="form-group form-group-day">
              <label class="form-label" for="dob-day">Day</label>
              <input class="form-control" id="dob-day" name="dobDay" type="number" pattern="[0-9]*" min="0" max="31">
            </div>

            <div class="form-group form-group-month">
              <label class="form-label" for="dob-month">Month</label>
              <input class="form-control" id="dob-month" name="dobMonth" type="number" pattern="[0-9]*" min="0" max="12">
            </div>

            <div class="form-group form-group-year">
              <label class="form-label" for="dob-year">Year</label>
              <input class="form-control" id="dob-year" name="dobYear" type="number" pattern="[0-9]*" min="0" max="2016">
            </div>

          </div>

        </fieldset>

      </div>

      <button class="button" type="submit">Save and continue</button>

    </form>

  </div>


</main>
{% endblock %}
