{% set title = pageTitle %}
{% extends "layout.njk" %}

{% block page_title %}{{pageTitle}} - GOV.UK{% endblock %}

{% block content %}
<main class="pattern-library" id="content" role="main">

  {% include "partials/phase_banner.njk" ignore missing %}

  {% include "partials/breadcrumb.njk" ignore missing %}
  
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Check your answers before sending your application</h1>
      <h2 class="heading-medium">Personal details</h2>
    </div>
  </div>
  
  <dl class="check-your-answers check-your-answers--short">
    
    <div class="check-your-answers__row">
      <dt class="check-your-answers__question">Name</dt>
      <dd class="check-your-answers__answer">Sarah Phillips</dd>
      <dd class="check-your-answers__change"><a href="#">Change<span class="visually-hidden"> name</span></a></dd>
    </div>
    
    <div class="check-your-answers__row">
      <dt class="check-your-answers__question">Date of birth</dt>
      <dd class="check-your-answers__answer">5 January 1978</dd>
      <dd class="check-your-answers__change"><a href="#">Change<span class="visually-hidden"> date of birth</span></a></dd>
    </div>
    
    <div class="check-your-answers__row">
      <dt class="check-your-answers__question">Home address</dt>
      <dd class="check-your-answers__answer">72 Guild Street<br>London<br>SW23 6FH</dd>
      <dd class="check-your-answers__change"><a href="#">Change<span class="visually-hidden"> home address</span></a></dd>
    </div>
    
    <div class="check-your-answers__row">
      <dt class="check-your-answers__question">Contact details</dt>
      <dd class="check-your-answers__answer">07700 900 457<br>sarah.phillips@example.com</dd>
      <dd class="check-your-answers__change"><a href="#">Change<span class="visually-hidden"> contact details</span></a></dd>
    </div>
    
  </dl>
  
  <h2 class="heading-medium">Application details</h2>
  
  <dl class="check-your-answers check-your-answers--short">
    
    <div class="check-your-answers__row">
      <dt class="check-your-answers__question">Previous application number</dt>
      <dd class="check-your-answers__answer">502135326</dd>
      <dd class="check-your-answers__change"><a href="#">Change<span class="visually-hidden"> previous application number</span></a></dd>
    </div>
    
    <div class="check-your-answers__row">
      <dt class="check-your-answers__question">Licence type</dt>
      <dd class="check-your-answers__answer">For personal use</dd>
      <dd class="check-your-answers__change"><a href="#">Change<span class="visually-hidden"> license type</span></a></dd>
    </div>
    
    <div class="check-your-answers__row">
      <dt class="check-your-answers__question">Home address</dt>
      <dd class="check-your-answers__answer">72 Guild Street<br>London<br>SW23 6FH</dd>
      <dd class="check-your-answers__change"><a href="#">Change<span class="visually-hidden"> home address</span></a></dd>
    </div>
    
    <div class="check-your-answers__row">
      <dt class="check-your-answers__question">License period</dt>
      <dd class="check-your-answers__answer"><p>This is a longer paragraph of text provided by the user to provide additional information.</p><p>This is a second paragraph of text provided by the user. </p></dd>
      <dd class="check-your-answers__change"><a href="#">Change<span class="visually-hidden"> license period</span></a></dd>
    </div>
    
  </dl>
  
  <h2 class="heading-medium">Now send your application</h2>
  
  <div class="text">
    <p>By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>
  </div>
  
  <p><a class="button" href="#">Accept and send application</a></p>

</main>
{% endblock %}