<div class="form-group{% if error %} error{% endif %}">
  <label for="{{id}}">
    <span class="{% if classes.label %}{{ classes.label }}{% else %}form-label-bold{% endif %}">{{label}}</span>
    {% if hint %}<span class="form-hint">{{hint}}</span>{% endif %}
    {% if error %}<span class="error-message">{{error}}</span>{% endif %}
  </label>
  <textarea class="form-control{% if classes.textarea %} {{ classes.textarea }}{% endif %}" id="{{id}}" name="{{name}}" rows="{{rows}}">{% if value %}{{value}}{% endif %}</textarea>
</div>
