@import "elements/helpers";
@import "frontend-toolkit";

/*
Pattern library
*/

$module: "pattern-library";

.#{$module} {

  .example {

    @extend %contain-floats;
    border: 1px solid $border-colour;
    position: relative;
    margin: em(15) 0;
    overflow: hidden;
    padding: em(40) em(15) em(15);

    @include media(tablet) {
      padding: em(55) em(30) em(30);
    }

    &::before {
      @include core-14;
      background-color: $grey-2;
      color: $white;
      content: attr(data-title);
      padding: em(4) em(15) em(4) em(15);
      position: absolute; top: 0; left: 0;
      text-transform: uppercase;
    }

  }


  .heading-index {
    margin-top: 1em;
    margin-bottom: 0;
  }


  .heading-contents {
    margin-top: 3em;
  }


  .list-contents li {
    @include core-16;
  }

  .draft {
    background-color: #f47738;
  }

  .approved {
    background-color: #00823B;
  }

  pre {
    @include core-16;
    border: 1px solid $grey-3;
    font-family: Consolas, Monaco, "Andale Mono", monospace;
    margin-top: $gutter;
    margin-bottom: $gutter;
    padding: $gutter-half;
    padding-top: 65px;
    position: relative;
    tab-size: 4;
    hyphens: none;
  	white-space: pre;
  	word-spacing: normal;
  	word-break: normal;
  	word-wrap: normal;

    &:before {
      background-color: $grey-3;
      box-sizing: border-box;
      color: $grey-1;
      content: attr(data-title);
      display: block;
      line-height: 1;
      padding: $gutter-half;
      position: absolute; top: 0; left: 0;
      text-align: right;
      width: 100%;
    }

  }


}

  div.header-global #logo{
    margin: 0 15px;  
  }

  div.header-global div#logo:hover {
    border-bottom: none !important;
  }
