<form class="form" method="POST" data-js="form">

  <div class="form-group">
    <label class="form-label-bold" for="example-1">Example 1</label>
    <textarea class="form-control form-control-3-4" rows="3" id="example-1" name="example-1">My husband/wife &hellip;</textarea>
  </div>

  <div class="form-group">
    <label class="form-label-bold" for="example-2">Example 2</label>
    <textarea class="form-control form-control-3-4" rows="3" id="example-2" name="example-2">My husband/wife &hellip;</textarea>
  </div>

  <div class="form-group">
    <label class="form-label-bold" for="example-3">Example 3</label>
    <textarea class="form-control form-control-3-4" rows="3" id="example-3" name="example-3">My husband/wife &hellip;</textarea>
  </div>

  <!-- add dynamic items here -->
  <div id="form-items" aria-live="polite" aria-automic="false" aria-relevant="additions"></div>

  <div class="form-group">
    <button class="button button-secondary" id="add-form-item">Add another example</button>
  </div>

  <div class="form-group">
    <button class="button" type="submit">Continue</button>
  </div>

</form>
