<div class="form-group{% if error %} error{% endif %}" id="{{id}}">
  <fieldset>
    <div class="form-date">
      <legend>
        <span class="{% if classes.label %}{{ classes.label }}{% else %}form-label-bold{% endif %}">{{label}}</span>
        {% if hint %}<span class="form-hint">{{hint}}</span>{% endif %}
        {% if error %}<span class="error-message">{{error}}</span>{% endif %}
      </legend>
      <div class="form-group form-group-day">
        <label for="{{id}}-day">Day</label>
        <input class="form-control" id="{{id}}-day" name="{{name}}Day" type="number"{% if value.day %} value="{{value.day}}"{% endif %} pattern="[0-9]*" min="0" max="31">
      </div>
      <div class="form-group form-group-month">
        <label for="{{id}}-month">Month</label>
        <input class="form-control" id="{{id}}-month"name="{{name}}Month" type="number"{%if value.month %} value="{{value.month}}"{% endif %} pattern="[0-9]*" min="0" max="31">
      </div>
      <div class="form-group form-group-year">
        <label for="{{id}}-year">Year</label>
        <input class="form-control" id="{{id}}-year" name="{{name}}Year" type="number"{%if value.year %} value="{{value.year}}"{% endif %} pattern="[0-9]*" min="0" max="2017">
      </div>
    </div>
  </fieldset>
</div>