{% set title = pageTitle %}
{% extends "layout.njk" %}

{% block page_title %}{{pageTitle}} - GOV.UK{% endblock %}

{% block content %}
<main class="pattern-library" id="content" role="main">

  {% include "partials/phase_banner.njk" ignore missing %}


  <div class="notification-summary">

    <h2 class="notification-summary__heading">The HMCTS Design System launched on 1 August 2018</h2>

    <div class="notification-summary__content">
      <p>The HM Courts &amp; Tribunals Service (HMCTS) Design System team is retiring Reform pattern library following the launch of the HMCTS Design System. The Reform pattern library will still remain available to you if you are currently using it but will no longer be maintained.</p>
      <p>For new projects, you can get all of the information about HMCTS styles, components and patterns in the <a href="http://hmcts-design-system.herokuapp.com">HMCTS Design System</a>.</p>
    </div>

  </div>


  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-xlarge">{{pageTitle}}</h1>

      <p class="lede">A collection of patterns for the Reform Programme.</p>

    </div>

  </div>


  <div class="grid-row">

    <div class="column-one-third">
      <h2 class="heading-medium heading-index"><a href="/elements">Elements</a></h2>
      <p>Form inputs, buttons, and other small parts of pages.</p>
    </div>

    <div class="column-one-third">
      <h2 class="heading-medium heading-index"><a href="/components">Components</a></h2>
      <p>Grouped-together elements including address lookup and progress bar.</p>
    </div>
    
    <div class="column-one-third">
      <h2 class="heading-medium heading-index"><a href="/pages">Pages</a></h2>
      <p>Common page design examples including check your answers.</p>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-one-third">
      <h2 class="heading-medium heading-index"><a href="/journeys">Journeys</a></h2>
      <p>Common flows for user journeys including citizen self registration.</p>
    </div>

    <div class="column-one-third">
      <h2 class="heading-medium heading-index"><a href="/content">Content</a></h2>
      <p>Standard copy for cookie policy, T&amp;Cs and privacy policy.</p>
    </div>

  </div>


</main>
{% endblock %}
