{% set title = pageTitle %}
{% extends "layout.njk" %}

{% block page_title %}{{pageTitle}} - GOV.UK{% endblock %}

{% block content %}
<main class="pattern-library" id="content" role="main">

  {% include "partials/phase_banner.njk" ignore missing %}

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-xlarge">{{pageTitle}}</h1>

      <p class="lede">A collection of patterns for the Reform Programme.</p>

    </div>

  </div>


  <div class="grid-row">

    <div class="column-one-third">
      <h2 class="heading-medium heading-index"><a href="/elements">Elements</a></h2>
      <p>Form inputs, buttons, and other small parts of pages.</p>
    </div>

    <div class="column-one-third">
      <h2 class="heading-medium heading-index"><a href="/components">Components</a></h2>
      <p>Research&ndash;driven design patterns for carrying out specific tasks.</p>
    </div>
    
    <div class="column-one-third">
      <h2 class="heading-medium heading-index"><a href="/pages">Pages</a></h2>
      <p>Add some introduction text for pages...</p>
    </div>

    <div class="column-one-third">
      <h2 class="heading-medium heading-index"><a href="/journeys">Journeys</a></h2>
      <p>Add some introduction text for pages...</p>
    </div>

  </div>


</main>
{% endblock %}
